body {
    display: flex;
    justify-content: center;
    background-color: #f9f9fb;
    font-family: sans-serif;
}
    
main {
    display: flex;
    width: 864px;
    height: 614px;
    margin-top: 50px;
    border-radius: 15px;
    background-color: #ffffff;
}

/* left panel */
.left-panel {
    background-color: #fd8922;
    width: 600px;
    height: 590px;
    border-radius: 15px;
    margin-top: 11px;
    margin-left: 12px;
}

.left-title {
    color: #ffffff;
    padding-top: 50px;
    padding-left: 30px;
}

.sub-title {
    padding-left: 30px;
    color: #ffffff;
}

.section-title {
    padding-left: 30px;
    color: #ffffff;
}

.left-info {
    color: #ffffffb3;
    line-height: 1.5;
    padding-top: 0;
    padding-left: 30px;  
}

.left-action {
    text-decoration: underline;
}

.name-item {
    line-height: 0;
}

.names {
    margin-top: -15px;
    display: flex;
}

/* right panel */
.right-panel {
    width: 450px;
    height: 600px;
}

.right-title {
    padding-top: 65px;
    padding-left: 40px;
    font-size: 24px;
    color: #383838;
}

.right-title-alternative {
    padding-top: 30px;
    padding-left: 40px;
    font-size: 24px;
    color: #383838;
}

.gender-input {
    padding-left: 40px;
    font-size: 18px;
    color: #262626;
}

.birthday-input {
    padding-left: 40px;
    color: #262626;
}

#day, #month, #year {
    width: 60px;
    font-size: 18px;
}

#submit {
    background-color: #fd8922;
    border: 0px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    width: 180px;
    height: 50px;
    margin-top: 100px;
    margin-left: 100px;
}